In [1]:
### Load libraries -------
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import os
import numpy as np
from datetime import datetime
import pickle

# Pandas parameters
#pd.set_option('display.max_colwidth', -1)
#pd.set_option('display.max_rows', 2000)
#pd.set_option('display.max_columns', 500)

In [2]:
### Define out paths ------

# check if out path exists, if it does not exists add the path
if not os.path.exists('/Users/hannahfrank/desktop/conflict_escalation_out'):
    os.makedirs('/Users/hannahfrank/desktop/conflict_escalation_out')

# add subfolders for the out path
out_paths = {
    "desciptive_plots_outcome": '/Users/hannahfrank/desktop/conflict_escalation_out/plots',
    "data": '/Users/hannahfrank/desktop/conflict_escalation_out/data'
}

for key, val in out_paths.items():
    if not os.path.exists(val):
        os.makedirs(val)
        
out_paths["data"]

'/Users/hannahfrank/desktop/conflict_escalation_out/data'

In [3]:
### UCDP Georeferenced Event Dataset (GED) Global version 20.1 ----------
# Codebook: https://ucdp.uu.se/downloads/ged/ged201.pdf

ucdp = pd.read_csv("https://ucdp.uu.se/downloads/ged/ged201-csv.zip", low_memory=False)
ucdp.head(3)

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,244657,IRQ-2017-1-524-322,2017,1,Clear,1,259,259,Iraq: Government,524,...,2017-07-31 00:00:00.000,0,4,0,2,6,6,6,645,NaN
1,132140,AFG-1989-1-411-2,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,700,NaN
2,130364,AFG-1989-1-411-37,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-18 00:00:00.000,0,0,0,4,4,4,0,700,NaN

In [4]:
### Get columns --------
for i in ucdp.columns:
    print(i)

id
relid
year
active_year
code_status
type_of_violence
conflict_dset_id
conflict_new_id
conflict_name
dyad_dset_id
dyad_new_id
dyad_name
side_a_dset_id
side_a_new_id
side_a
side_b_dset_id
side_b_new_id
side_b
number_of_sources
source_article
source_office
source_date
source_headline
source_original
where_prec
where_coordinates
where_description
adm_1
adm_2
latitude
longitude
geom_wkt
priogrid_gid
country
country_id
region
event_clarity
date_prec
date_start
date_end
deaths_a
deaths_b
deaths_civilians
deaths_unknown
best
high
low
gwnoa
gwnob

In [5]:
### Only use state-based violence -----
ucdp_s = ucdp[(ucdp["type_of_violence"]==1)]

In [6]:
### Subset for region -----
ucdp_ss = ucdp_s.loc[(ucdp_s["region"] == "Africa") |
                    (ucdp_s["region"] == "Asia") |
                    (ucdp_s["region"] == "Middle East")]

In [7]:
### Exclude state-based between governments ------
ucdp_sss = ucdp_s.loc[(ucdp_s["dyad_name"] != "Government of Afghanistan - Government of United Kingdom, Government of United States of America") &
                    (ucdp_s["dyad_name"] != "Government of Cambodia (Kampuchea) - Government of Thailand") &
                    (ucdp_s["dyad_name"] != "Government of Cameroon - Government of Nigeria") &
                    (ucdp_s["dyad_name"] != "Government of Djibouti - Government of Eritrea") &
                    (ucdp_s["dyad_name"] != "Government of Ecuador - Government of Peru") &
                    (ucdp_s["dyad_name"] != "Government of Eritrea - Government of Ethiopia") &
                    (ucdp_s["dyad_name"] != "Government of India - Government of Pakistan") &
                    (ucdp_s["dyad_name"] != "Government of Iraq - Government of Kuwait") &
                    (ucdp_s["dyad_name"] != "Government of Australia, Government of United Kingdom, Government of United States of America - Government of Iraq") &
                    (ucdp_s["dyad_name"] != "Government of Panama - Government of United States of America") &
                    (ucdp_s["dyad_name"] != "Government of South Sudan - Government of Sudan") &
                    (ucdp_s["dyad_name"] != "Government of Iran - Government of Israel")]

ucdp_ss.head(3)

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,244657,IRQ-2017-1-524-322,2017,1,Clear,1,259,259,Iraq: Government,524,...,2017-07-31 00:00:00.000,0,4,0,2,6,6,6,645,NaN
1,132140,AFG-1989-1-411-2,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,700,NaN
2,130364,AFG-1989-1-411-37,1989,1,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-18 00:00:00.000,0,0,0,4,4,4,0,700,NaN

In [8]:
### Subset columns -----
ucdp_sub = ucdp_sss[[
                #"id",
                #"relid",
                "year",
                "active_year",
                #"code_status",
                #"type_of_violence",
                #"conflict_dset_id",
                #"conflict_new_id",
                #"conflict_name",
                #"dyad_dset_id",
                #"dyad_new_id",
                #"dyad_name",
                #"side_a_dset_id",
                #"side_a_new_id",
                #"side_a",
                #"side_b_dset_id",
                #"side_b_new_id",
                #"side_b",
                #"number_of_sources",
                #"source_article",
                #"source_office",
                #"source_date",
                #"source_headline",
                #"source_original",
                #"where_prec",
                #"where_coordinates",
                #"where_description",
                #"adm_1",
                #"adm_2",
                #"latitude",
                #"longitude",
                #"geom_wkt",
                #"priogrid_gid",
                "country",
                "country_id",
                #"region",
                #"event_clarity",
                "date_prec",
                "date_start",
                "date_end",
                #"deaths_a",
                #"deaths_b",
                #"deaths_civilians",
                #"deaths_unknown",
                "best",
                "high",
                "low",
                #"gwnoa",
                #"gwnob",
                ]]

ucdp_sub.head(3)

,year,active_year,country,country_id,date_prec,date_start,date_end,best,high,low
0,2017,1,Afghanistan,700,1,2017-07-31 00:00:00.000,2017-07-31 00:00:00.000,6,6,6
1,1989,1,Afghanistan,700,3,1989-01-07 00:00:00.000,1989-01-13 00:00:00.000,6,6,6
2,1989,1,Afghanistan,700,2,1989-01-15 00:00:00.000,1989-01-18 00:00:00.000,4,4,0

In [9]:
### Add dates ----
ucdp_sub["dd_date_start"] = pd.to_datetime(ucdp_sub['date_start'], 
                               format='%Y-%m-%d %H:%M:%S')

ucdp_sub["dd_date_end"] = pd.to_datetime(ucdp_sub['date_end'], 
                               format='%Y-%m-%d %H:%M:%S')

# Only store month
ucdp_sub["month_date_start"] = ucdp_sub["dd_date_start"].dt.strftime('%m')
ucdp_sub["month_date_end"] = ucdp_sub["dd_date_end"].dt.strftime('%m')


ucdp_date = ucdp_sub[["year",
                     "dd_date_start",
                     "dd_date_end",
                     "active_year",
                     "country",
                     "country_id",
                     "date_prec", 
                     "best",
                     "high",
                     "low",
                     "month_date_start",
                     "month_date_end"]]

# Reset index 
ucdp_date = ucdp_date.sort_values(by=["country", "year"], 
                                  ascending=True)

ucdp_date.reset_index(drop=True, inplace=True)
ucdp_date.head(3)

<ipython-input-9-e0a7b24a0b3f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ucdp_sub["dd_date_start"] = pd.to_datetime(ucdp_sub['date_start'],
<ipython-input-9-e0a7b24a0b3f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ucdp_sub["dd_date_end"] = pd.to_datetime(ucdp_sub['date_end'],
<ipython-input-9-e0a7b24a0b3f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ucdp_sub["month_date_start"] = ucdp_sub["dd_date_start"].dt.strftime('%m')
<ipython-input-9-e0a7b24a0b3f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ucdp_sub["month_date_end"] = ucdp_sub["dd_date_end"].dt.strftime('%m')

,year,dd_date_start,dd_date_end,active_year,country,country_id,date_prec,best,high,low,month_date_start,month_date_end
0,1989,1989-01-07,1989-01-13,1,Afghanistan,700,3,6,6,6,01,01
1,1989,1989-01-15,1989-01-18,1,Afghanistan,700,2,4,4,0,01,01
2,1989,1989-01-23,1989-01-24,1,Afghanistan,700,2,600,600,600,01,01

In [ ]:
### Loop through data and delete observations which last one month ------
ucdp_final = ucdp_date.copy()

for i in range(0,len(ucdp_date)):
    if ucdp_date["month_date_start"].loc[i]!=ucdp_date["month_date_end"].loc[i]:
        ucdp_final = ucdp_final.drop(index=i, axis=0)

In [ ]:
### Check ----
np.unique(list(ucdp_final["month_date_start"] == ucdp_final["month_date_end"]))

In [ ]:
### Generate year_month variable --------
ucdp_final['year_month'] = pd.to_datetime(ucdp_final['dd_date_start'], 
                                          format='%Y-%m').dt.to_period('M')
ucdp_final

In [ ]:
### Aggregate fatality variables by year-dyad_id  ----------
best = pd.DataFrame(ucdp_final.groupby(["year_month",
                                    "country_id"])['best'].sum())
high = pd.DataFrame(ucdp_final.groupby(["year_month",
                                    "country_id"])['high'].sum())
low = pd.DataFrame(ucdp_final.groupby(["year_month",
                                    "country_id"])['low'].sum())
best.head()

In [ ]:
### Merge fatality variables and reset index ---------
best_high = pd.concat([best, high], axis=1)
fat =  pd.concat([best_high, low], axis=1)
fat.head()

if "year" in fat == False:
    fat["year"] = fat.index.get_level_values(0)

if "country_id" in fat == False:
    fat["country_id"] = fat.index.get_level_values(1)
    
ucdp_fat = fat.reset_index()
ucdp_fat.head()

In [ ]:
### Obtain year variable ------------
ucdp_fat["year"] = 0
for i in ucdp_fat.index:
    ucdp_fat["year"][i] = ucdp_fat['year_month'][i].year

In [ ]:
### Re-obtain country labels and year variable --------
ucdp_cc = ucdp[["country_id", "country"]].drop_duplicates().reset_index(drop=True)
ucdp_final = pd.merge(ucdp_fat, 
                     ucdp_cc, 
                     how='left', 
                     on='country_id')

ucdp_final

In [ ]:
### Get countries and years ------
years = list(ucdp_final.year.unique())
countries = list(ucdp_final.country_id.unique())

In [ ]:
### Make range of time stamps to add -------
date = list(pd.date_range(start="1989-01",
                          end="2019-12", 
                          freq="MS"))
date = pd.to_datetime(date, format='%Y-%m').to_period('M')
date[0]

In [ ]:
### Add missing observation to time series --------

# Loop through every year for every dyad
for i in range(0, len(countries)):
    print(countries[i])
    for x in range(0, len(date)):
        #print(year_months[x])
        
        # Check if country-month in data, if False add
        if ((ucdp_final['year_month'] == date[x]) 
            & (ucdp_final['country_id'] == countries[i])).any() == False:
                
                s = {'year_month': date[x].strftime('%Y-%m'),
                     'year': date[x].year,
                     'country': ucdp_final['country'].loc[(ucdp_final["country_id"]==countries[i])].iloc[0],
                     'country_id': [countries[i]], 
                     'best': 0,
                     'high': 0,
                     'low': 0}
                s = pd.DataFrame(data=s)
                ucdp_final = pd.concat([ucdp_final,s])

In [ ]:
### Check --------
ucdp_final[["best", "year_month"]].loc[(ucdp_final["year"]==1989) &
                            (ucdp_final["country"]=="El Salvador")]

In [ ]:
### Sort data ------
ucdp_final = ucdp_final.sort_values(by=["country","year_month"])

In [ ]:
### Reset index -------
ucdp_final.reset_index(drop=True, 
                inplace=True)
ucdp_final.head(3)

In [ ]:
### Save dataset -----------
ucdp_final.to_csv(os.path.join(out_paths["data"], 
                            "ucdp.csv"),
                             index=False, 
                             sep=',')

In [ ]:
### Load data ------
ucdp = pd.read_csv(os.path.join(out_paths["data"], "ucdp.csv"))
ucdp.head(3)

In [ ]:
### Convert to str format ---------
ucdp["year_month_str"] = ucdp["year_month"].astype(str)
ucdp["year_month_str"]

In [ ]:
### Make plot for some selected time series ----------
fig = plt.figure(figsize=(12, 8))
ax = plt.axes()

ax.plot(ucdp["year_month_str"].loc[(ucdp["year"]==2019) &
                            (ucdp["country"]=="Somalia")],
        ucdp_final["best"].loc[(ucdp["year"]==2019) &
                            (ucdp["country"]=="Somalia")],
        color="black", 
        linestyle="solid", 
        label="Somalia")

ax.plot(ucdp["year_month_str"].loc[(ucdp["year"]==2019) &
                            (ucdp["country"]=="Nigeria")],
        ucdp_final["best"].loc[(ucdp["year"]==2019) &
                            (ucdp["country"]=="Nigeria")],
        color="black", 
        linestyle="dotted", 
        label="Nigeria")

ax.plot(ucdp["year_month_str"].loc[(ucdp["year"]==2019) &
                            (ucdp["country"]=="Myanmar (Burma)")],
        ucdp_final["best"].loc[(ucdp["year"]==2019) &
                            (ucdp["country"]=="Myanmar (Burma)")],
        color="black", 
        linestyle="dashed", 
        label="Myanmar")

ax.plot(ucdp["year_month_str"].loc[(ucdp["year"]==2019) &
                            (ucdp["country"]=="Iraq")],
        ucdp_final["best"].loc[(ucdp["year"]==2019) &
                            (ucdp["country"]=="Iraq")],
        color="black", 
        linestyle="dashdot", 
        label="Iraq")

# Labels
ax.set_ylabel('Number of Battle-related Deaths', 
                fontsize = 25, 
                fontname='Times New Roman')

ax.set_xlabel('Time (Year-month)', 
                fontsize = 25, 
                fontname='Times New Roman')

# Ticks
ax.tick_params(axis='x', 
               labelsize=25)
plt.xticks(rotation = 45)
ax.set_yticks(np.arange(0, 
                       450, 
                       50))
ax.tick_params(axis='y', 
               labelsize=25)

for tick in ax.get_xticklabels():
    tick.set_fontname("Times New Roman")
for tick in ax.get_yticklabels():
    tick.set_fontname("Times New Roman")

ax.legend(bbox_to_anchor=(1, 1), 
          prop={'size': 15, 
                'family': 'Times New Roman'})

fig.savefig(os.path.join(out_paths["desciptive_plots_outcome"], 
                         f"_battle_deaths"), 
                         dpi=100)

In [ ]:
### Make id for time series ----
ucdp["id"]= ucdp["country"] + ", " + ucdp["year"].astype(str)
ucdp

In [ ]:
### Get years and countries ------
years = ucdp["year"].unique()
countries = ucdp["country"].unique()

In [ ]:
### Save time series in dictionary ------
dicts = {}

for c in countries:
    for y in years:
        #print(c,y)
        #for k in keys:
        
        d = {ucdp["id"].loc[(ucdp["country"]==c) &
                        (ucdp["year"]==y)].iloc[0]: np.array(ucdp["best"].loc[(ucdp["country"]==c) &
                        (ucdp["year"]==y)])}
        dicts.update(d)

In [ ]:
### Save dictionary locally as pkl file --------
dict_pkl= open("ucdp_time_series.pkl", 
                 "wb") # open file in write mode

pickle.dump(dicts, 
          dict_pkl) # dumb dictionary

dict_pkl.close() # close file

print("Saved File!")